{% extends "basic.html"%}
{% load static %}         
{% block body %}
<br>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-5" style="color:#17b7b8;">PREDICARE: ML Based Disease Diagnostic System
            </h1>
            <p>PREDICARE may be a web-based application that makes a difference the understanding to keep a track of wellbeing by giving input as to side effects and anticipating the malady to require most extreme care so as to maintain a strategic distance from any future wellbeing complications. Utilizing this one can continuously remain overhauled approximately their wellbeing conditions and thus makes a difference in diminishing any wellbeing chance. It is an On-the-Go App in this advanced world.
            </p>

        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h3>Vision</h3>
                <p>All children, youth and Senior Citizens with extraordinary wellbeing care needs and their families accomplish the most excellent conceivable results for their wellbeing, well-being, and victory. </p>
            </div>
            <div class="col-md-4">
                <h3>Mission
                </h3>
                <p>Support experts working together to care and advocate by giving solid, down to earth, and evidence-based data, profitable nearby and  services , and support for patient-centered hones utilizing the medical domestic model. </p>
            </div>
            <div class="col-md-4">
                <h3>Awards and Recognition </h3>
                <p>We are honored to be recognized for the work we do on behalf of our customers, doctors, and communities every day.</p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->


  
{% endblock %}